<nav class="bg-gray- text-gray-800 p-4">
    <div class="container mx-auto flex justify-between items-center">
      <a href="#" class="text-2xl font-bold">Eli Sweets</a>
      <ul class="flex space-x-4">
        <li><a href="#" class="hover:text-gray-300">Home</a></li>
        <li><a href="#" class="hover:text-gray-300">Orders</a></li>
        <li><a href="#contact" class="hover:text-gray-300">Products</a></li>
          <li style='color: red'><a href="/logout" class="hover:text-gray-300">log Out</a></li>
      </ul>
    </div>
  </nav>